<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.promotion.mapper.PromotionMapper">

    <resultMap id="BaseResultMap" type="com.tianji.promotion.domain.po.Promotion">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="hot" column="hot" jdbcType="TINYINT"/>
            <result property="beginTime" column="begin_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="creater" column="creater" jdbcType="BIGINT"/>
            <result property="updater" column="updater" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,type,
        hot,begin_time,end_time,
        create_time,update_time,creater,
        updater
    </sql>
</mapper>
