<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.promotion.mapper.UserCouponMapper">

    <resultMap id="BaseResultMap" type="com.tianji.promotion.domain.po.UserCoupon">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="couponId" column="coupon_id" jdbcType="BIGINT"/>
            <result property="termBeginTime" column="term_begin_time" jdbcType="TIMESTAMP"/>
            <result property="termEndTime" column="term_end_time" jdbcType="TIMESTAMP"/>
            <result property="usedTime" column="used_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,coupon_id,
        term_begin_time,term_end_time,used_time,
        status,create_time,update_time
    </sql>
</mapper>
